* {
  @include box-sizing;
  line-height: 1.8;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $sans-serif-primary;
  font-size: 16px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif-secondary;
  line-height: normal;
  margin: 2rem auto;
}

a {
  color: $blue;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: $dark-black-1;
    color: $dark-default-color;
  }
}
