.catalogue {
  margin: 0 auto;
  width: $contents-width;

  @media (max-width: 480px) {
    padding: 0 25px;
  }


  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif-secondary;
    font-size: 2rem;
    font-weight: 500;
    margin: .5rem 0;
  }
}

@media (prefers-color-scheme: dark) {
  .catalogue {
    &-item {
      color: $dark-default-shade;
      border-bottom: 1px solid $dark-default-tint;
    }

    &-title {
      color: $dark-default-color;
    }

    &-line {
      border-top: .2rem solid $dark-default-shade;
    }

    &-time {
      color: $dark-default-shade;
    }
  }
}
