// Contents
$container-width: 100%;
$contents-width: 85%;

// Colors for light mode
$default-color: #555;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$beige: #d5d3cd;
$white: #fff;
$blue: #4a9ae1;
$black: #000;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #bf616a;

// Colors for dark mode
$dark-black-1: #1b1b1b;
$dark-black-2: #272822;
$dark-default-bold: #c5c5c5;
$dark-default-color: #a0a0a0;
$dark-default-shade: #949494;
$dark-default-tint: #383838;
$dark-shadow-color: rgba(255, 255, 255, 0.2);

// Fonts
$serif-primary: 'Nanum Gothic', sans-serif;
$serif-secondary: 'Nanum Myeongjo', serif;
$sans-serif: 'Nanum Square', sans-serif;
$monospaced: 'Nanum Gothic Coding', monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
