---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {{ site.author.name }}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<script src="https://utteranc.es/client.js"
        repo="CoderK/CoderK.github.io"
        issue-term="pathname"
        label="comments"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
