---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {{ site.author.name }}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = location.href;
    this.page.identifier = location.href;
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://huns-me-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
